*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header
{
    height: 100px;
    background-color: #111;
    border-style: solid;
    border-width: 5px;
    border-color: aquamarine;
    /* border-radius: 10rem; */
    /* margin: 100px; */
}

.container
{
    
    height: 100%;
    width: 80%;
    
    margin: auto;

}

.header .container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    border-radius: 20rem;
}

.navbar 
{
 display: flex;
 list-style: none;
 background-color: #111;
 width: 50%;  
 justify-content: space-between;
  
 
}

.navbar li a {
    text-decoration: none;
    color: goldenrod;
}

.header h1{
    color: aquamarine;
   
}

.header ul
{
    color: goldenrod;
}

.active
{
    font-weight: bolder;
    
}

.banner
{
    height: 500px;
    background-image: url(https://cdn.pixabay.com/photo/2020/03/12/01/49/jellyfish-4923656_960_720.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .message
{
    margin-right: 250px;
    width: 6%;
    color: #fff;
    font-size: 35px;
   
    
    
}

.message .span
{
    font-weight: bolder;
}


.purpose
{
    height: 450px;
    background-color: #E5E5E5;
    
}

.purpose .container .mvv div img
{
    height: 100px;
    width: 100px;
    
} 

.purpose .container .mvv
{

    margin-top: 50px;
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;

}

.purpose .container
{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

.purpose .container .mvv div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    text-align: center;

}

.purpose .container h2
{
    background-color: #fffff;
    color: #E6005A;
    font-weight: bold;
    padding: 25px;
    border-radius: 25px;
}

.purpose .container .mvv div h3
{
    color: #E6005A;
    font-weight: bolder;
    margin: 25px 0;
}

.footer
{
    background-color: #3289CD;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p
{
    color: #ffff;
}

.banner .formLogin
{
    background-color: #E5E5E5;
    height: 400px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.banner .formLogin h2{
    color: #E6005A;
}

.banner .formLogin div
{
    display: flex;
    flex-direction: column;
}

.banner .formLogin span 
{
    color: #E6005A;
}

.banner .formLogin div input
{
    border: 2px solid #E6005A;
    border-radius: 10px;
    height: 25px;
    padding: 10px;
}

.banner .formLogin button
{
    background-color: #E6005A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;

}